
/* Your CSS Code here. */
.outer {
  margin: 20px;
  border: 15px solid blue;
  padding: 50px;
  background-color: lightblue;
  width: 300px;
  font-family: Arial, sans-serif;
}

.inner {
  border: 2px dashed;
}